<div class="container">
    <div class="row" style="margin-top: 10px; margin-bottom:50px;">
      <div class="col-12">
        <legend>Crear nueva card</legend>
  
        <app-form-card (envioCard)="addCard($event)"></app-form-card>
        <br>
      </div>
    </div>
      <div class="row">
      <div class="col-4" *ngFor="let item of dataCard">
        <app-card [cardTitle]="item.cardTitle" [description]="item.description" [url]="item.url" [button]="item.button"></app-card>
      </div>
    </div>
  </div>